<footer class="footer container">
    <a class="footer__logo" href="/">
        <div>FRONT-END</div>
        <div>developer</div>
    </a>
    <div class="footer__nav">
            <ul class="footer__ul">
                <li class="footer__li"><a class="footer__a" href="/">About</a></li>
                <li class="footer__li"><a class="footer__a" href="/">experience</a></li>
                <li class="footer__li"><a class="footer__a" href="/">reviews</a></li>
                <li class="footer__li"><a class="footer__a" href="/">contact</a></li>
            </ul>
            <ul class="footer__social">
                <li class="footer__li"><a href="/">
                        <img src="./img/social/git.png" alt="Github">
                    </a></li>
                <li class="footer__li"><a href="/">
                        <img src="./img/social/link.png" alt="Link">
                    </a></li>
                <li class="footer__li"><a href="/">
                        <img src="./img/social/telegram.png" alt="Telegram">
                    </a></li>
            </ul>
    </div>
</footer>