<section class="section-services">
    <div class="services container" data-aos="fade-up"
     data-aos-anchor-placement="center-center">
        <div class="services-item">
            <div class="services-item__icon">
                <img src="./img/services/services-1.png" alt="services">
            </div>
            <h3 class="services-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</h3>
        </div>
        <div class="services-item">
            <div class="services-item__icon">
                <img src="./img/services/services-2.png" alt="services">
            </div>
            <h3 class="services-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</h3>
        </div>
        <div class="services-item">
            <div class="services-item__icon">
                <img src="./img/services/services-3.png" alt="services">
            </div>
            <h3 class="services-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</h3>
        </div>
        <div class="services-item">
            <div class="services-item__icon">
                <img src="./img/services/services-4.png" alt="services">
            </div>
            <h3 class="services-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</h3>
        </div>
    </div>
</section>