<section class="section-exp container">
    <div class="section-exp__title">*My experience <span>&</span> Project</div>
    <div class="section-exp__img">
        <img src="./img/experience-bg.png" alt="exp_bg">
    </div>
    <div class="exp-item">
        <div class="exp-item__year">2016-2020</div>
        <div class="exp-item__title">Frontend junior in company “Unior”</div>
        <div class="exp-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</div>
    </div>
    <div class="exp-item">
        <div class="exp-item__year">2020-2022</div>
        <div class="exp-item__title">Frontend developer in company “richmond”</div>
        <div class="exp-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</div>
    </div>
</section>