<section class="section-contacts">
    <div class="container section-contacts__container">
        <h2 class="section-contacts__title">contacts</h2>
        <div class="map">
            <div class="map__img" data-aos="zoom-in-up">
                <img src="./img/ukraine-map.png" alt="map">
            </div>
            <div class="map__info">
                <div class="map__header">
                    <a class="map__logo" href="/">
                        <div>FRONT-END</div>
                        <div>developer</div>
                    </a>
                </div>
                <div class="contacts">
                    <h3 class="contacts__title">IVAN Ivanov
                        <span>{</span>
                    </h3>
                    <p class="contacts__desc">Lorem ipsum dolor sit amet, consectetur adipiscing e lit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
                    </p>
                    <div class="contacts__item">
                        <span>@</span>
                        <div class="contacts__text">user@user.com</div>
                    </div>
                    <div class="contacts__item">
                        <span>#</span>
                        <div class="contacts__text">+38063-100-10-10</div>
                    </div>
                </div>
                
                <span class="contacts__brace">}</span>
            </div>
        </div>
        </div>
    </div>
</section>