<section class="section-main container">
    <div class="section-main__content">
        <div class="developer">
            <img src="./img/developer.png" alt="developer">
        </div>
        <div class="cv">
            <div class="cv__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore Lorem
                ipsum dolor sit amet, consectetur adipiscing elit,</div>
            <div class="cv__btn">
                <a href="/" class="btn _primary">
                    <span>Download my CV</span>
                    <img src="./img/arrow.svg" alt="arrow">
                </a>
            </div>
        </div>
    </div>
    <div class="section-main__info">
        <div class="section-main__title">Empower your ideas with our innovative</div>
        <div class="section-main__btn">
            <button class="btn-solutions">
                <span>solutions</span>
                <img src="./img/turn_off.png" alt="turn_off">
            </button>
            <div class="section-main__line">
                <img src="./img/line.png" alt="line">
            </div>
            <div class="section-main__light">
                <img src="./img/light-off.png" alt="light">
            </div>
        </div>
        <div class="section-main__skills">
            <div class="skills-ach">
                <div class="skills-ach__item">
                    <div class="skills-ach__count">+08</div>
                    <div class="skills-ach__title">year of experience</div>
                </div>
                <div class="skills-ach__item">
                    <div class="skills-ach__count">+100</div>
                    <div class="skills-ach__title">complete Project</div>
                </div>
                <div class="skills-ach__item">
                    <div class="skills-ach__count">+100</div>
                    <div class="skills-ach__title">client satisfied </div>
                </div>
            </div>
            <div class="skills-tech">
                <div class="skills-ach__item"><img src="./img/skills/html.png" alt="html"></div>
                <div class="skills-ach__item"><img src="./img/skills/css.png" alt="css"></div>
                <div class="skills-ach__item"><img src="./img/skills/js.png" alt="js"></div>
                <div class="skills-ach__item"><img src="./img/skills/react.png" alt="react"></div>
                <div class="skills-ach__item"><img src="./img/skills/angular.png" alt="angular"></div>
                <div class="skills-ach__item"><img src="./img/skills/node.png" alt="node"></div>
            </div>
        </div>
    </div>
</section>