<section class="section-about container">
    <div class="about">
        <div class="about-info">
            <h2 class="about-info__title">About me</h2>
            <p class="about-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="about-education"></div>
            <h3 class="about-education__title">education 
                <span>{</span>
            </h3>
            <div class="about-education__item">
                <span>.</span>
                <p class="about-education__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            </div>
            <div class="about-education__item">
                <span>#</span>
                <p class="about-education__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            </div>
            <div class="about-education__item">
                <span>@</span>
                <p class="about-education__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            </div>
            <span class="about-education__brace">}</span>
        </div>
        <div class="about-img" data-aos="zoom-out-left">
            <img src="./img/about_me.png" alt="about_me">
        </div>
    </div>
</section>