.section-exp {
  margin-top: 72px;
  margin-bottom: 192px;
  @include mobile {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &__title {
    color: var(--c-primary);
    font-family: var(--ff);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: 64px;
    span {
      font-family: var(--ff-second);
    }
  }

  &__img {
    border-radius: 30px;
    margin-bottom: 110px;
    img {
      width: 100%;
      border-radius: 30px;
    }
  }
}
.exp-item {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 40px;
  align-items: center;
  padding-left: 116px;
  position: relative;
  @include desktop-small {
    padding-left: 0;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
  }
  @include tablet-small {
    grid-template-columns: 1fr;
  }
  &:not(:last-child) {
    margin-bottom: 158px;
    @include tablet-small {
      margin-bottom: 20px;
    }
  }
  &::before,
  &::after {
    content: "< !--";
    color: var(--c-before);
    font-family: var(--ff);
    font-size: 64px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 2.56px;
    text-transform: capitalize;
    position: absolute;
    bottom: 6px;
    @include desktop-small {
      display: none;
    }
  }
  &::after {
    content: "-->";
    top: 31px;
    bottom: unset;
    right: 0px;
  }
  &__year {
    color: var(--c-primary);
    font-family: var(--ff);
    font-size: 24px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.96px;
    text-transform: capitalize;
  }

  &__title {
    color: var(--c-text1);
    font-family: var(--ff);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }

  &__desc {
    color: var(--c-text);
    font-family: var(--ff-second);
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
}
