.section-about {
  margin-bottom: 70px;
  position: relative;

  &::before {
    content: "";
    width: 1192px;
    height: 1192px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -110px;
    display: block;
    border-radius: 1192px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(217, 217, 217, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: blur(30px);
    z-index: -1;
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

.about-info {
  max-width: 600px;
  &__title {
    color: var(--c-primary);
    font-family: var(--ff);
    font-size: 53px;
    font-weight: 400;
    letter-spacing: 5.3px;
    text-transform: uppercase;
    margin-bottom: 80px;
  }

  &__text {
    color: var(--c-text);
    font-family: var(--ff-second);
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.52px;
    text-transform: capitalize;
    margin-bottom: 34px;
  }
}

.about-education {
  &__title {
    display: flex;
    align-items: center;
    gap: 34px;
    color: var(--c-primary);
    font-family: var(--ff);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    span {
      color: var(--c-text1);
      font-size: 64px;
      font-weight: 400;
      line-height: 180%;
      letter-spacing: 2.56px;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    span {
      color: var(--c-primary);
      font-family: var(--ff);
      font-size: 56px;
      font-weight: 400;
      line-height: 180%;
      letter-spacing: 2.24px;
      min-width: 42px;
    }
  }

  &__text {
    color: var(--c-text);
    font-family: var(--ff-second);
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.35px;
    text-transform: capitalize;
  }

  &__brace {
    display: flex;
    align-items: start;
    color: var(--c-text1);
    font-family: var(--ff);
    font-size: 64px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 2.56px;
    text-transform: capitalize;
  }
}

.about-img {
  max-width: 600px;
  max-height: 100%;
  margin-top: 143px;
  flex-shrink: 0;
  @include tablet {
      max-width: 100%;
      margin-top: 100px;
      img {
        width: 100%;
      }
    }
}
